@font-face {
    font-family: SharpGroteskSmBold20; 
    src: url(fonts/SharpGroteskSmBold20.otf); 
}
@font-face {
    font-family: SharpGroteskBook19; 
    src: url(fonts/SharpGroteskBook19.otf); 
}
@font-face {
    font-family: Roboto; 
    src: url(fonts/Roboto-Regular.ttf); 
}